<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.munchkin616002" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Munchkin</name>
  <description>
        The Munchkin Game Counter.
    </description>
  <author email="nivoset@gmail.com">
      Ben Koop and Frank Keefer
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/munchkin.png" density="ldpi"/>
    <icon src="resources/munchkin.png" density="mdpi"/>
    <icon src="resources/munchkin.png" density="hdpi"/>
    <icon src="resources/munchkin.png" density="xhdpi"/>
    <icon src="resources/munchkin.png" density="xxhdpi"/>
    <icon src="resources/munchkin.png" density="xxxhdpi"/>
    <splash src="resources/munchkin.png" density="land-ldpi"/>
    <splash src="resources/munchkin.png" density="land-mdpi"/>
    <splash src="resources/munchkin.png" density="land-hdpi"/>
    <splash src="resources/munchkin.png" density="land-xhdpi"/>
    <splash src="resources/munchkin.png" density="land-xxhdpi"/>
    <splash src="resources/munchkin.png" density="land-xxxhdpi"/>
    <splash src="resources/munchkin.png" density="port-ldpi"/>
    <splash src="resources/munchkin.png" density="port-mdpi"/>
    <splash src="resources/munchkin.png" density="port-hdpi"/>
    <splash src="resources/munchkin.png" density="port-xhdpi"/>
    <splash src="resources/munchkin.png" density="port-xxhdpi"/>
    <splash src="resources/munchkin.png" density="port-xxxhdpi"/>
  </platform>
</widget>